<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{sitename}}</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{sitename}}</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                <li><a href="#">{{currentUser.username}}</a></li>
                <li>
                    <form action="/users/logout" id="logout-form" method="POST"></form>
                    <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                </li>
                {{else}}
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="aler alert-danger">
        {{#if globalError}}
        <strong>{{globalError}}</strong>
        {{/if}}
        </div>
    </div>
    <div class="container">
        {{{body}}}
    </div> 
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>